<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Мегапарсер hh</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/myfile.css" rel="stylesheet"/>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-4 offset-4">
                <h1 class="text-bg-success bg-opacity-50 p-3">Мегапарсер hh</h1>
            </div>
        </div>
    </div>
    <div class="container text-left">
        <div class="row">
            <div class="col align-self-start">
                <h3 class="text-bg-secondary bg-transparent p-3">Задание Lite</h3>
                <p class="text-light">
                   Это проверка базовых знаний пройденного вами материала.
                   Задания здесь, как правило, направлены на закрепление навыков и
                   использование их на практике. Справившись с этим уровнем, вам по
                   силам станут задачи, по типу рассмотренных на уроке.
                   Большинство реальных проектов можно решить, правильно комбинируя
                   эти навыки. Это задание необходимо выполнить для получения
                   документов о прохождении курса (только если Вы не планируете
                   выполнять PRO или ULTRA PRO уровни, тогда Lite необязательно).
                   Дежурные кураторы ответят вам на все вопросы, которые касаются
                   данного уровня ДЗ.
                </p>
            </div>
            <div class="col align-self-start">
                <h3 class="text-bg-secondary bg-transparent p-3">Создание сайта</h3>
                <p class="text-light">
                    <b>Цель</b><br>
                    В этой самостоятельной работе тренируем умения:<br>
                    1. Создавать простые страницы используя html/css<br>
                    2. Использовать bootstrap для создания сайтов<br>
                    <b>Смысл</b><br>
                    1. Понимать как работает html/css для использования в шаблонах для Flask, Django<br>
                    2. Использовать bootstrap в качестве фронтенда для своих веб-сайтов<br>
                    <b>Последовательность действий</b><br>
                    0. В проекте hh/github перейти на новую ветку<br>
                    1. В проекте создать папку templates<br>
                    2. Создать 3 страницы для сайта: главная, форма для ввода данных, страница контактов<br>
                    3. В форме для ввода обеспечить ввод данных, необходимых для работы парсера
                       (для hh свои для github свои, описание можно найти в предыдущем задании).
                        Дополнительно можно создать любые другие страницы<br>
                    4. Создать верстку страниц с помощью html/css можно использовать bootstrap<br>
                    5. Организовать меню для перехода между страницами<br>
                    6. Сдать ДЗ в виде ссылки на pull request<br>
                </p>
            </div>
            <div class="col align-self-start">
                <h3 class="text-bg-secondary bg-transparent p-3">Дополнительные материалы</h3>
                <p class="text-light">
                    <br>Код с занятия (2 ветки) https://github.com/DanteOnline/nu13-htmlcss<br>
                    <br>Готовые шаблоны на bootstrap https://startbootstrap.com/<br>
                    <br>Документация bootstrap (важный раздел компоненты)
                    https://bootstrap-4.ru/docs/4.3.1/getting-started/introduction/<br>
                    <br>Полезный сайт по html/css https://html5book.ru/osnovy-html/<br>
                </p>
            </div>
        </div>
    </div>
    <br>
    <ul class="nav nav-pills nav-fill fs-4">
        <li class="nav-item">
            <a class="nav-link active" href="form.html">Начать поиск</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="form.html">Форма для ввода данных</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="results.html">Страница контактов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Доплнительно</a>
        </li>
    </ul>

    <script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>